<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <%- include("layout.ejs") %>

    <h1 class="text-xl font-extrabold m-5"><%= title %></h1>

    <div class="flex-col">
        <div class="card bg-neutral shadow-xl text-neutral-content mx-auto mt-5" style="height: 120px; width: 120vh;">
            <div style="height: 40px; width: 120vh;">
                <h1 class="font-bold m-2">Judul</h1>
            </div>
            <div class="bg-base-300" style="height: 40px; width: 120vh;">
                <h1 class="font-bold m-2 text-base-content">Tanggal</h1>
            </div>
            <div class="justify-between flex flex-row" style="height: 40px; width: 120vh;">
                <h1 class="font-bold m-2">Judul</h1>
                <a href=""><h2 class="font-bold m-2">See Detail</h2></a>
            </div>
        </div>
        <div class="card bg-neutral shadow-xl text-neutral-content mx-auto mt-5" style="height: 120px; width: 120vh;">
            <div style="height: 40px; width: 120vh;">
                <h1 class="font-bold m-2">Judul</h1>
            </div>
            <div class="bg-base-300" style="height: 40px; width: 120vh;">
                <h1 class="font-bold m-2 text-base-content">Tanggal</h1>
            </div>
            <div class="justify-between flex flex-row" style="height: 40px; width: 120vh;">
                <h1 class="font-bold m-2">Judul</h1>
                <a href=""><h2 class="font-bold m-2">See Detail</h2></a>
            </div>
        </div>
        <div class="card bg-neutral shadow-xl text-neutral-content mx-auto mt-5" style="height: 120px; width: 120vh;">
            <div style="height: 40px; width: 120vh;">
                <h1 class="font-bold m-2">Judul</h1>
            </div>
            <div class="bg-base-300" style="height: 40px; width: 120vh;">
                <h1 class="font-bold m-2 text-base-content">Tanggal</h1>
            </div>
            <div class="justify-between flex flex-row" style="height: 40px; width: 120vh;">
                <h1 class="font-bold m-2">Judul</h1>
                <a href=""><h2 class="font-bold m-2">See Detail</h2></a>
            </div>
        </div>
        <div class="card bg-neutral shadow-xl text-neutral-content mx-auto mt-5" style="height: 120px; width: 120vh;">
            <div style="height: 40px; width: 120vh;">
                <h1 class="font-bold m-2">Judul</h1>
            </div>
            <div class="bg-base-300" style="height: 40px; width: 120vh;">
                <h1 class="font-bold m-2 text-base-content">Tanggal</h1>
            </div>
            <div class="justify-between flex flex-row" style="height: 40px; width: 120vh;">
                <h1 class="font-bold m-2">Judul</h1>
                <a href=""><h2 class="font-bold m-2">See Detail</h2></a>
            </div>
        </div>
    </div>

    

    

</body>
</html>